{% extends 'templates/web.html' %}

{% block title %} {{ _('Order Form') }} {% endblock %}

{% block head_include %}
<!-- Bootstrap -->
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous'></script>

<!-- Datatables -->
<link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script> 
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
<!-- override -->
{% endblock %} 

{% block page_content %}
<!-- Header -->
<header class='container'>
  <div>
    <div>
        <h3>{{ page_title }}</h3>
    </div>
  </div>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class='container'>
  {% if invalid_role %}
    <br /><br /><br />
    <div class='shadow alert alert-warning alert-dismissible fade show' role='alert'>
      <strong>{{ _('Invalid role!') }}</strong> &nbsp; {{ _('You are not authorized to access this page. Please contact your administrator for more information.') }}
    </div>
    

  {% else %}
    <!-- Customer and Transaction Date Form -->
    <br />

    <form>
      <div class='row'>
        <div class='col-md-6'>
          <div class='mb-3'>
            <label for='customer' class='form-label'>{{ _('Customer' ) }}</label> &nbsp;
            <select class='form-select form-select-sm bg-light' name='customer' id='customer' aria-label='Customer' required>
              <option value=''>Select Customer</option>

              {% for customer in customers %}
                <option value='{{ customer.name }}'>{{ customer.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='mb-3'>
            <label for='sales_partner' class='form-label'>{{ _('Sales Partner') }}</label>
            <input type='text' class='form-control' id='sales_partner' value='{{ sales_partner }}' readonly>
          </div>
        </div>
      </div> 
      <div class='row mb-3'>
        <div class='col-md-6'>
          <div class='input-group mb-3'>
            <div class='input-group-text' id='basic-addon1'>Transaction Date</div>
            <input type='date' class='form-control-md' id='transaction_date' value='{{ today }}' required>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='input-group mb-3'>
            {% if docstatus == 0 %}
              <span class='input-group-text bg-secondary'>{{ _('Draft') }}</span>
              
            {% elif docstatus == 2 %}
              <span class='input-group-text bg-danger'>{{ _('Rejected') }}</span>

            {% elif workflow_state == 'Pending' %}
              <span class='input-group-text bg-warning'>{{ _('Pending') }}</span>
              
            {% else %}
              <span class='input-group-text bg-success'>{{ _('Approved') }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    
    <hr>

    <!-- Load list of Item Codes -->   
    <table class='table table-md table-striped' style='width: 100%' id='main_table'>
      <thead>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>{{ _('SKU') }}</th>
          <th scope='col'>{{ _('Description') }}</th>
          <th scope='col'>{{ _('UoM') }}</th>
          <th class='text-center' scope='col'>{{ _('Qty') }}</th>
          <th class='text-center' scope='col'>{{ _('Rate') }}</th>
          <th class='text-center' scope='col'>{{ _('Amount') }}</th>
          <th class='text-center' scope='col' text-align='left'>{{ _('Actions') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <th scope='row'>{{ item.row_num }}</th>
            <td>{{ item.item_code }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.uom }}</td>
            <td>{{ item.base_rate }}</td>
            <td>{{ item.amount }}</td>
            
            <td class='text-center'>
              <div class='badge badge-primary translate-middle-x' item-name='{{ item.name }}' role='button' id='btn_edit_item' onclick='open_order_item()'>{{ _('Edit') }}</div>
              <div class='badge badge-primary translate-middle-x'> </div>
              <div class='badge badge-danger translate-middle-x' item-name='{{ item.name }}' role='button' id='btn_del_item' onclick='delete_order_item()'>{{ _('Delete') }}</div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <!-- <div class='d-flex bd-highlight mb-3'> -->
    <div class='d-flex bd-highlight mb-3'>
      <div class='btn btn-outline-primary' role='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample'>{{ _('Help') }}</div>
      &nbsp;
      
      <div class='btn btn-secondary' role='button' item-name='New' onclick='open_order_item()'>{{ _('Add Item') }}</div>
      &nbsp;
      
      {% if (docstatus > 0) or (item_count == 0) %}
        <div class='btn btn-primary' role='button' id='btn_action_order' onclick='action_order()' disabled>{{ _('Save Order') }}</div>
      {% else %}
        <div class='btn btn-primary' role='button' id='btn_action_order' onclick='action_order()'>{{ _('Save Order') }}</div>
      {% endif %}
    </div>

    <small class='text-muted'>{{ _('Version') }} {{ version }}</small>
  {% endif %} 
  
  <!-- Action Confirmation Modal -->
  <div class='modal fade' id='modal_action' data-backdrop='static' data-keyboard='true' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' id='modal_action_box'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='modal_action_title'></h5>
          <button type='button' class='close' data-bs-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body' id='modal_action_body'></div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary' data-bs-dismiss='modal' id='modal_action_primary'></button>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal' id='modal_action_secondary'></button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ Action Confirmation Modal -->

  <!-- New Order Item Modal -->
  <div class='modal fade' id='modal_new_item' data-backdrop='static' data-keyboard='true' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered modal-lg'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='staticBackdropLabel'>{{ _('New Order Item') }}</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body' id='modal-body'>
            <!-- Insert modal body here from open_order_modal() -->
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary' data-dismiss='modal' sales-partner='{{ sales_partner }}' order-name = 'New' id='save_new_button' onclick='update_order()'>{{ _('Save') }}</button>
          <button type='button' class='btn btn-secondary' id='add_order_items' onclick='add_order_items()'>{{ _('Add Items') }}</button>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ _('Cancel') }}</button>
        </div>
      </div>
    </div>  
  </div>
  <!-- ./ New Order Item Modal -->
</main>
{% endblock %}
