{% extends 'templates/web.html' %}

{% block title %} {{ page_title }} {% endblock %}

{% block head_include %}
<!-- Bootstrap -->
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous'></script>

<!-- Datatables -->
<link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script> 
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block header %}
<!-- override -->
{% endblock %} 

{% block page_content %}
<!-- Header -->
<header class='container'>
  <div>
    <div>
        <h3>{{ _('Welcome to the Partner Order Form') }}</h3>
    </div>
  </div>
</header>
<!-- ./ Header -->

<!-- Main -->
<main class='container'>
  {% if invalid_role %}
    <br /><br /><br />
    <div class='shadow alert alert-warning alert-dismissible fade show' role='alert'>
      <strong>{{ _('Invalid role!') }}</strong> &nbsp; {{ _('You are not authorized to access this page. Please contact your administrator for more information.') }}
    </div>
    

  {% else %}
    <!-- Load list of Registered Leads -->   
    <div class='mt-4'>
      {{ welcome_text }}
      <br /><br /><br />
    </div>

    <table class='table table-md table-striped' style='width: 100%' id='main_table'>
      <thead>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>{{ _('Order ID') }}</th>
          <th scope='col'>{{ _('Company Name') }}</th>
          <th scope='col'>{{ _('Date') }}</th>
          <th scope='col'>{{ _('Grand Total') }}</th>
          <th class='text-center' scope='col'>{{ _('Status') }}</th>
          <th class='text-center' scope='col' text-align='left'>{{ _('Actions') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <th scope='row'>{{ order.row_num }}</th>
            <td>{{ order.name }}</td>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.transaction_date }}</td>
            <td>{{ order.grand_total }}</td>
            
            <td class='text-center'>
              {% if order.docstatus == 0 %}
                <span class='badge rounded-pill bg-secondary'>{{ _('Draft') }}</span>
                
              {% elif order.workflow_state == 'Rejected' %}
                <span class='badge rounded-pill bg-danger'>{{ _('Rejected') }}</span>

              {% elif order.workflow_state == 'Cancelled' %}
                <span class='badge rounded-pill bg-danger'>{{ _('Cancelled') }}</span>

              {% elif order.workflow_state == 'Pending' %}
                <span class='badge rounded-pill bg-warning'>{{ _('Pending') }}</span>
                
              {% else %}
                <span class='badge rounded-pill bg-success'>{{ _('Approved') }}</span>
              {% endif %}
            </td>
            <td class='text-center'>
              <div class='badge badge-primary translate-middle-x' sales-partner='{{ sales_partner }}' order-name='{{ order.name }}' role='button' id='btn_edit_lead' onclick='open_order_form()'>{{ _('Edit') }}</div>
              <div class='badge badge-primary translate-middle-x'> </div>

              {% if order.docstatus > 0 %}
                <div class='badge badge-primary bg-secondary translate-middle-x' order-name='{{ order.name }}' 
                  id='btn_submit_lead' disabled>{{ _('Submit') }}</div>
              {% else %}
                <div class='badge badge-primary bg-success translate-middle-x' order-name='{{ order.name }}' role='button' 
                  id='btn_submit_lead' onclick='submit_order()'>{{ _('Submit') }}</div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <br />
    <!-- <div class='d-flex bd-highlight mb-3'> -->
    <div class='d-flex bd-highlight mb-3'>
      <div class='btn btn-outline-primary' role='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample'>{{ _('Help') }}</div>
      &nbsp;

      <div class='btn btn-primary' role='button' sales-partner='{{ sales_partner }}' order-name='New' onclick='open_order_form()'>{{ _('New Order') }}</div>
    </div>

    <small class='text-muted'>{{ _('Version') }} {{ version }}</small>
  {% endif %} 
  
  <!-- Action Confirmation Modal -->
  <div class='modal fade' id='modal_action' data-backdrop='static' data-keyboard='true' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' id='modal_action_box'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='modal_action_title'></h5>
          <button type='button' class='close' data-bs-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body' id='modal_action_body'></div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary' data-bs-dismiss='modal' id='modal_action_primary'></button>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal' id='modal_action_secondary'></button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ Action Confirmation Modal -->

  <!-- New Order Modal -->
  <div class='modal fade' id='modal_new_order' data-backdrop='static' data-keyboard='true' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered modal-lg'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='staticBackdropLabel'>{{ _('New Order') }}</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body' id='modal-body'>
            <!-- Insert modal body here from open_order_modal() -->
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary' data-dismiss='modal' sales-partner='{{ sales_partner }}' order-name = 'New' id='save_new_button' onclick='update_order()'>{{ _('Save') }}</button>
          <button type='button' class='btn btn-secondary' id='add_order_items' onclick='add_order_items()'>{{ _('Add Items') }}</button>
          <button type='button' class='btn btn-secondary' data-dismiss='modal'>{{ _('Cancel') }}</button>
        </div>
      </div>
    </div>  
  </div>
  <!-- ./ New Order Modal -->
</main>
{% endblock %}
